[Desktop Entry]
Categories=Utility;
Comment=Color temperature adjustment tool
Exec=redshift-gtk
GenericName=Color temperature adjustment
Hidden=true
Icon=redshift
Name=Redshift
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=false
